body{
    display: flex;
    background-color: rgb(180, 180, 150);
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2%;
}

#other{
    display: flex;
}

#grid{
    display: grid;
    grid-template-columns: repeat( var(--GRID_WIDTH), max-content);

}

.cell{
    width: 2em;
    height: 2em;
    background-color: rgb(90, 82, 82, 0.5);
    border: rgba(214, 209, 209, 0.2) 1px solid;
}

.snake{
    background-color: green;
}

.food{
    background-color: yellow;
}